.adopt-page {
  padding: 40px;
}

.adopt-header {
  text-align: center;
  margin-bottom: 40px;
}

.adopt-header h1 {
  font-size: 50px;
  color: #1d4ed8;
}

.adopt-header p {
  font-size: 18px;
  color: #4b5563;
}